# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
/bin
/config
.DS_Store
.project
/channel-artifacts
#/crypto-config
#/explorer/examples/net1/crypto
#/scripts
#org1
#org2
*tar.gz
#swarm.env
#swarm1.env
#color.env
#test.env
configtx.yaml.14
#crypto-config.org.yaml
t.sh
StartCustomHLF_001.sh
configfiles1.2/
base/
storage/
k8sworking/
new.sh
e2e*
checkdock-host.sh
