[alias]
  cmsg = commit -s -m
  camend = commit -s --amend
# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
/bin
/config
.DS_Store
.project
/channel-artifacts
#/crypto-config
#/explorer/examples/net1/crypto
#/scripts
#org1
#org2
*tar.gz
#swarm.env
#swarm1.env
#color.env
#test.env
configtx.yaml.14
#crypto-config.org.yaml
t.sh
StartCustomHLF_001.sh
configfiles1.2/
base/
storage/
k8sworking/
new.sh
e2e*
checkdock-host.sh
configfiles/ansiblescripts/06_config_fab2.0-orgadd.yaml1
configfiles/ansiblescripts/t1.sh
configfiles/ansiblescripts/test.file
configfiles/docker-compose-cli-old.yaml
configfiles/swarm-scripts/docker-compose-swarm-orderer-org.yaml
configfiles/swarm-scripts/docker-compose-swarm-org2-peer-org.yaml
configfiles/swarm-scripts/docker-compose-swarm-org2-services-org.yaml
configfiles/swarm-scripts/docker-compose-swarm-peer-org.yaml
configfiles/swarm-scripts/docker-compose-swarm-services-org.yaml
configfiles/swarm-scripts/swarm-org.env
configfiles/swarm-scripts/swarmsc.sh